<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Tutorial of JPA</title>
</head>
<body>
    <h1 th:text="#{content.delete.title}"></h1>
    <p th:text="#{content.delete.message}"></p>

    <form method="post" action="/country/delete">
        <input type="text" name="code" th:value="${code}">
        <button type="submit" th:text="#{content.button}"></button>
        <a th:href="@{/country/list}" th:text="#{content.link.home}"></a>
    </form>
</body>
</html>