<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Tutorial of JPA</title>
</head>
<body>
    <h1 th:text="#{content.detail.title}"></h1>
    <form method="post" action="/country/detail">
        <table th:object="${country}">
            <tr><th th:text="#{content.table.code}"></th><td><input type="text" name="code" th:value="*{code}"</td></tr>
            <tr><th th:text="#{content.table.country}"></th><td><input type="text" name="name" th:value="*{name}"</td></tr>
            <tr><th th:text="#{content.table.population}"></th><td><input type="text" name="population" th:value="*{population}"</td></tr>
        </table>
        <button type="submit" th:text="#{content.button}"></button>
        <a th:href="@{/country/list}" th:text="#{content.link.home}"></a>
    </form>
</body>
</html>
